{% extends 'layout.twig' %}

{%block body %}
  <div class="container">
    <h1>Welcome!!</h1>
    <p>This project was made by Samir and Théo (group2)</p>
  </div>
  <div class="position-absolute top-100 start-50 translate-middle">
    <p>TandS&copy; | BM 2023 - {{ 'now' | date('Y')}}</p>
  </div>
  {% endblock %}
